// COLORS

$color-primary: #e62852;
$color-primary-light: #ff696b;

$color-gray-dark: #666;
$color-gray-dark-2: #888;
$color-gray-dark-3: #696969;
$color-gray-dark-4: #eee;
$color-gray-light-1: #fafafa;
$color-gray-light-2: #eaeaea;
$color-white: #fff;
$color-black: #333;

// FONT

$default-font-size: 1.6rem;

// GRID

$grid-width: 100rem;
$gutter-vertical: 3rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 3rem;
